# <font color='blue'>Python Fundamentals - 05 Dictionaries</font>

## Based on: http://github.com/dsacademybr

In [1]:
# Python version
from platform import python_version
print('Python version used in this Jupyter notebook:', python_version())

Python version used in this Jupyter notebook: 3.7.6

## Dictionaries

In [2]:
# This is a list
students_lst = ["Mateus", 24, "Fernanda", 22, "Tamires", 26, "Cristiano", 25]

In [3]:
students_lst

['Mateus', 24, 'Fernanda', 22, 'Tamires', 26, 'Cristiano', 25]

In [4]:
# This is a dictionary
students_dict = {"Mateus":24, "Fernanda":22, "Tamires":26, "Cristiano":25}

In [5]:
students_dict

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25}

In [6]:
students_dict["Mateus"]

24

In [7]:
students_dict["Pedro"] = 23

In [8]:
students_dict["Pedro"]

23

In [9]:
students_dict["Tamires"]

26

In [10]:
students_dict.clear()

In [11]:
students_dict

{}

In [12]:
del students_dict

In [13]:
students_dict

NameError: name 'students_dict' is not defined

In [14]:
students = {"Mateus":24, "Fernanda":22, "Tamires":26, "Cristiano":25}

In [15]:
students

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25}

In [16]:
len(students)

4

In [17]:
students.keys()

dict_keys(['Mateus', 'Fernanda', 'Tamires', 'Cristiano'])

In [18]:
students.values()

dict_values([24, 22, 26, 25])

In [19]:
students.items()

dict_items([('Mateus', 24), ('Fernanda', 22), ('Tamires', 26), ('Cristiano', 25)])

In [20]:
students2 = {"Maria":27, "Erika":28, "Milton":26}

In [21]:
students2

{'Maria': 27, 'Erika': 28, 'Milton': 26}

In [22]:
students.update(students2)

In [23]:
students

{'Mateus': 24,
 'Fernanda': 22,
 'Tamires': 26,
 'Cristiano': 25,
 'Maria': 27,
 'Erika': 28,
 'Milton': 26}

In [24]:
dic1 = {}

In [25]:
dic1

{}

In [26]:
dic1["key_one"] = 2

In [27]:
print(dic1)

{'key_one': 2}

In [28]:
dic1[10] = 5

In [29]:
dic1

{'key_one': 2, 10: 5}

In [30]:
dic1[8.2] = "Python"

In [31]:
dic1

{'key_one': 2, 10: 5, 8.2: 'Python'}

In [32]:
dic1["test"] = 5

In [33]:
dic1

{'key_one': 2, 10: 5, 8.2: 'Python', 'test': 5}

In [34]:
dict1 = {}

In [35]:
dict1

{}

In [36]:
dict1["test"] = 10

In [37]:
dict1["key"] = "test"

In [38]:
# Reminder, key and value can be the same, but are different things.
dict1

{'test': 10, 'key': 'test'}

In [39]:
dict2 = {}

In [40]:
dict2["key1"] = "Big Data"

In [41]:
dict2["key2"] = 10

In [42]:
dict2["key3"] = 5.6

In [43]:
dict2

{'key1': 'Big Data', 'key2': 10, 'key3': 5.6}

In [44]:
a = dict2["key1"]

In [45]:
b = dict2["key2"]

In [46]:
c = dict2["key3"]

In [47]:
a, b, c

('Big Data', 10, 5.6)

In [48]:
# Dictionary of lists
dict3 = {'key1':1230,'key2':[22,453,73.4],'key3':['milk','apple','potato']}

In [49]:
dict3

{'key1': 1230, 'key2': [22, 453, 73.4], 'key3': ['milk', 'apple', 'potato']}

In [50]:
dict3['key2']

[22, 453, 73.4]

In [51]:
# Accessing an item of a list, inside of the dictionary
dict3['key3'][0].upper()

'MILK'

In [52]:
# Operations with list items, inside the dictionary
var1 = dict3['key2'][0] - 2

In [53]:
var1

20

In [54]:
# Two operations in the same command, updating a value inside a list
dict3['key2'][0] -= 2

In [55]:
dict3

{'key1': 1230, 'key2': [20, 453, 73.4], 'key3': ['milk', 'apple', 'potato']}

### Creating Nested Dictionaries

In [56]:
# Creating nested dictionaries
dict_nested = {'key1':{'key2_nested':{'key3_nested':'Nested Dict in Python'}}}

In [57]:
dict_nested

{'key1': {'key2_nested': {'key3_nested': 'Nested Dict in Python'}}}

In [58]:
dict_nested['key1']['key2_nested']['key3_nested']

'Nested Dict in Python'