# <font color='blue'>Python Fundamentals - 04 Lists</font>

## Based on: http://github.com/dsacademybr

In [1]:
# Python version
from platform import python_version
print('Python version used in this Jupyter notebook:', python_version())

Python version used in this Jupyter notebook: 3.7.6

## Lists

In [2]:
# Creating a list
marketList = ["eggs, flour, milk, apples"]

In [3]:
# Printing a list
print(marketList)

['eggs, flour, milk, apples']

In [4]:
# Creating another list
marketList2 = ["eggs", "flour", "milk", "apple"]

In [5]:
# Printing a list
print(marketList2)

['eggs', 'flour', 'milk', 'apple']

In [6]:
# Creating another list
list3 = [12, 100, "College"]

In [7]:
# Printing
print(list3)

[12, 100, 'College']

In [8]:
list3 = [12, 100, "College"]

In [9]:
# Attributing each list value to a variable
item1 = list3[0]
item2 = list3[1]
item3 = list3[2]

In [10]:
# Printing the variables
print(item1, item2, item3)

12 100 College

### Updating an item of a list

In [11]:
# Printing an item of a list
marketList2[2]

'milk'

In [12]:
# Updating an item of a list
marketList2[2] = "chocolate"

In [13]:
# Printing the updated list
marketList2

['eggs', 'flour', 'chocolate', 'apple']

### Removing an item from a list

In [14]:
# Out of index. It is not possible to delete an inexistent item
del marketList2[4]

IndexError: list assignment index out of range

In [15]:
# Deleting an specific item of a list
del marketList2[3]

In [16]:
# Printing the updated list
marketList2

['eggs', 'flour', 'chocolate']

### List of lists (Nested lists)
Python Matrices

In [17]:
# Criating a nested list
lists = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [18]:
# Printing the list
lists

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [19]:
# Attributing an item of the list to a variable
a = lists[0]

In [20]:
a

[1, 2, 3]

In [21]:
b = a[0]

In [22]:
b

1

In [23]:
list1 = lists[1]

In [24]:
list1

[10, 15, 14]

In [25]:
value_1_0 = list1[0]

In [26]:
value_1_0

10

In [27]:
value_1_2 = list1[2]

In [28]:
value_1_2

14

In [29]:
list2 = lists[2]

In [30]:
list2

[10.1, 8.7, 2.3]

In [31]:
value_2_0 = list2[0]

In [32]:
value_2_0

10.1

### List operations

In [33]:
# Creating a nested list
lists = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [34]:
lists

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [35]:
# Attributing to a the first value of the first list
a = lists[0][0]

In [36]:
a

1

In [37]:
b = lists[1][2]

In [38]:
b

14

In [39]:
c = lists[0][2] + 10

In [40]:
c

13

In [41]:
d = 10

In [42]:
d

10

In [43]:
e = d * lists[2][0]

In [44]:
e

101.0

### List concatenation

In [45]:
list_s1 = [34, 32, 56]

In [46]:
list_s1

[34, 32, 56]

In [47]:
list_s2 = [21, 90, 51]

In [48]:
list_s2

[21, 90, 51]

In [49]:
# List concatenation
list_total = list_s1 + list_s2

In [50]:
list_total

[34, 32, 56, 21, 90, 51]

## in Operator

In [51]:
# Creating a list
test_list_op = [100, 2, -5, 3.4]

In [52]:
# Verifying if the value 10 is in the list
print(10 in test_list_op)

False

In [53]:
# Verifying if the value 100 is in the list
print(100 in test_list_op)

True

## Built-in Functions

In [54]:
# len() returns the list length
len(test_list_op)

4

In [55]:
# max() returns maximum value of a list
max(test_list_op)

100

In [56]:
# min() returns minimum value of a list
min(test_list_op)

-5

In [57]:
# Creating a list
marketList2 = ["eggs", "flour", "milk", "apple"]

In [58]:
# Adding an item to a list
marketList2.append("meat")

In [59]:
marketList2

['eggs', 'flour', 'milk', 'apple', 'meat']

In [60]:
marketList2.append("meat")

In [61]:
marketList2

['eggs', 'flour', 'milk', 'apple', 'meat', 'meat']

In [62]:
marketList2.count("meat")

2

In [63]:
# Creating an empty list
a = []

In [64]:
print(a)

[]

In [65]:
type(a)

list

In [66]:
a.append(10)

In [67]:
a

[10]

In [68]:
a.append(50)

In [69]:
a

[10, 50]

In [70]:
old_list = [1,2,5,10]

In [71]:
new_list = []

In [72]:
# Copying items from one list to another
for item in old_list:
    new_list.append(item)

In [73]:
new_list

[1, 2, 5, 10]

In [74]:
c = [20,30]

In [75]:
c.append(60)

In [76]:
c.append(70)

In [77]:
c

[20, 30, 60, 70]

In [78]:
c.count(20)

1

In [79]:
cities = ['Recife', 'Manaus', 'Salvador']
cities.extend(['Fortaleza', 'Palmas'])
print (cities)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [80]:
cities.index('Salvador')

2

Reminder: Indexes starts at 0 in Python!

In [81]:
cities.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [82]:
cities

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [83]:
cities.insert(2, 110)

In [84]:
cities

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [85]:
# Remove an item from the list
cities.remove(110)

In [86]:
cities

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [87]:
# Reverse the list
cities.reverse()

In [88]:
# Print the list
cities

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [89]:
x = [3, 4, 2, 1]

In [90]:
x

[3, 4, 2, 1]

In [91]:
# Sorting a list
x.sort()

In [92]:
x

[1, 2, 3, 4]

In [93]:
# Reverse sorting
x.sort(reverse=True)

In [94]:
x

[4, 3, 2, 1]