# <font color='blue'>Python Fundamentals - 02 Variables</font>

## Based on: http://github.com/dsacademybr

In [1]:
# Python version
from platform import python_version
print('Python version used in this Jupyter notebook:', python_version())

Python version used in this Jupyter notebook: 3.7.6

## Variables and Operators

In [2]:
# Value attribution (1 to var_test variable)
var_test = 1

In [3]:
# Printing variable value
var_test

1

In [4]:
# Printing variable value
print(var_test)

1

In [5]:
# We cannot use an undefined variable
my_var

NameError: name 'my_var' is not defined

In [6]:
var_test = 2

In [7]:
var_test

2

In [8]:
type(var_test)

int

In [ ]:
var_teste = 9.5

In [9]:
type(var_test)

int

In [10]:
x = 1

In [11]:
x

1

## Multiple Attribution

In [12]:
person1, person2, person3 = "Maria", "José", "Tobias"

In [13]:
person1

'Maria'

In [14]:
person2

'José'

In [15]:
person3

'Tobias'

In [16]:
fruit1 = fruit2 = fruit3 = "Laranja"

In [17]:
fruit1

'Laranja'

In [18]:
fruit2

'Laranja'

In [19]:
# Watch Out!!! Python is case-sensitive. The variable fruit2 existis, but not the Fruit2, as it was not created yet.
# Uppercase and lowercase letters make difference in variable names.
Fruta2

NameError: name 'Fruta2' is not defined

## Letters, numbers and underscore can be used (but can not start with numbers)

In [20]:
x1 = 50

In [21]:
x1

50

In [22]:
# Error, as Python does not allow variable names starting with numbers
1x = 50

SyntaxError: invalid syntax (<ipython-input-22-80ab998c76cd>, line 2)

## Reserved words (keywords) Can not be used as variable name

## False      
## class      
## finally    
## is         
## return
## None       
## continue   
## for        
## lambda     
## try
## True       
## def        
## from       
## nonlocal   
## while
## and        
## del        
## global     
## not        
## with
## as         
## elif       
## if         
## or         
## yield
## assert     
## else       
## import     
## pass
## break      
## except     
## in         
## raise

In [23]:
# We cannot use keywords as variable names
break = 1

SyntaxError: invalid syntax (<ipython-input-23-b421e53fa411>, line 2)

## Variable to variable attribution and operators precedence

In [24]:
width = 2

In [25]:
height = 4

In [26]:
area = width * height

In [27]:
area

8

In [28]:
perimeter = 2 * width + 2 * height

In [29]:
perimeter

12

In [30]:
# Operators precedence the same in Math
perimeter = 2 * (width + 2)  * height

In [31]:
perimeter

32

## Variable operations

In [32]:
age1 = 25

In [33]:
age2 = 35

In [34]:
age1 + age2

60

In [35]:
age2 - age1

10

In [36]:
age2 * age1

875

In [37]:
age2 / age1

1.4

In [38]:
age2 % age1

10

## Variable Concatenation

In [39]:
name = "Steve"

In [40]:
lastName = "Jobs"

In [41]:
fullName = name + " " + lastName

In [42]:
fullName

'Steve Jobs'