# <font color='blue'>Python Fundamentals - Data Type and Structures Questions</font>

## Based on: http://github.com/dsacademybr

In [1]:
# Python version
from platform import python_version
print('Python version used in this Jupyter notebook:', python_version())

Python version used in this Jupyter notebook: 3.7.6

## Questions

In [2]:
# Question 1 - Print all numbers from 1 to 10. Use a list to store the numbers.

In [3]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# Question 2 - Create a list with 5 objects and print it

In [5]:
objects = ['car','bicycle','skate','motorcycle','bus']
print(objects)

['car', 'bicycle', 'skate', 'motorcycle', 'bus']

In [6]:
# Question 3 - Create two strings and concatenate into a third string

In [7]:
string1 = " Concatenation"
string2 = " Test"
string = "String" + string1 + string2
print (string)

String Concatenation Test

In [8]:
# Question 4 - Create a tuple with the following elements: 1, 2, 2, 3, 4, 4, 4, 5 and then use the function count()
# to verify how many 4's are in the tuple

In [9]:
tpl1 = (1,2,2,3,4,4,4,5)
print(tpl1.count(4))

3

In [10]:
# Question 5 - Create an empty dictionary and print it

In [11]:
emptyDict = {}
print(emptyDict)

{}

In [12]:
# Question 6 - Create a dictionary with 3 keys and 3 values and print it

In [13]:
newDict = {"London": "UK", "Brasilia": "BR", "Paris": "FR"}
print(newDict)

{'London': 'UK', 'Brasilia': 'BR', 'Paris': 'FR'}

In [14]:
# Question 7 - Add one more element to the dictionary created previouslly and print it

In [15]:
newDict["Lisboa"] = "PT"
print(newDict)

{'London': 'UK', 'Brasilia': 'BR', 'Paris': 'FR', 'Lisboa': 'PT'}

In [16]:
# Question 8 - Create a dictionary with 3 keys and 3 values. One of the values must be a list with 2 numeric elements. 
# Print the dictionary.

In [17]:
altDict={"key1": 1024, "key2": [10,20], "key3": "Dictionary"}
print(altDict)

{'key1': 1024, 'key2': [10, 20], 'key3': 'Dictionary'}

In [18]:
# Question 9 - Create a list with 4 elements. The first element must be a string, the second one a two elements tuple,
# the third one a dictionary with 2 keys and 2 values and the fourth one a float value.
# Print the dictionary.

In [19]:
multList = ["strings", (10,20), {"key1": 1024, "key2": 512}, 5.2]
print(multList)

['strings', (10, 20), {'key1': 1024, 'key2': 512}, 5.2]

In [20]:
# Question 10 - For the following phrase. Print only the characters from position 1 to 18.
phrase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [21]:
print(phrase[0:18])

Cientista de Dados